<main role="main" id="certify"> <!-- main content starts here -->

  <section class="top-section top-section--certify">
    <div class="img-overlay"></div>
    <div class="row">
      <div class="column large-5 medium-5 intro">
        <h1>{{ title }}</h1>
        <p>{{ headerCopy }}</p>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row expanded">
      <div class="column large-12">
        <h2>{{ secondHeader }}</h2>
        <p>{{ secondHeaderCopy }}</p>
      <div class="row align-right">
        <div class="columns button-container">
          <a class="button button--purple" href="/apply">{{buttonText}}</a>
        </div>
      </div>
    </div>
  </section>

</main>
