<section class="page-section" id="form-4">
  <div class="row align-justify">
    <div class="columns">
      <h2>Certification</h2>
      <span class="section-header">Section 4 of 4</span>
        <p>This part of the form asks you to certify that you agree to specific terms of the OSHWA Certification Mark License Agreement.</p>
    </div>
  </div>

  <div class="row align-center">
    <div class="columns large-11 small-12">
        {{!-- 45 --}}
        <div class="row">
          <div class="columns certificate-mark">
            {{!-- {{{sectionFour.field.certificationMarkTerms.title}}} --}}
            {{{ createCertificationMarkTerms
                formValues=sectionFour.field.certificationMarkTerms
                checkedOptions=project.certificationMarkTerms}}}
          </div>
        </div>

        {{!-- 46 --}}
        <div class="row">
          <div class="columns large-3 small-12 ">
            {{{createLabel formValues=sectionFour.field.explanationCertificationTerms}}}
          </div>
          <div class="columns">
            {{{createTextArea formValues=sectionFour.field.explanationCertificationTerms inputValue=project.explanationCertificationTerms}}}
          </div>
        </div>

        {{!-- 47 --}}
        <div class="row">
          <div class="columns large-3 small-12">
            {{{createLabel formValues=sectionFour.field.relationship}}}
          </div>
          <div class="columns">
            {{!-- {{sectionFour.field.relationship}} --}}
            {{{createTextArea formValues=sectionFour.field.relationship inputValue=project.relationship}}}
          </div>
        </div>

        {{!-- 48 --}}
        <div class="row">
          <div class="columns small-12 single-checkbox-field">
            {{{createCheckbox formValues=sectionFour.field.agreementTerms checked=project.agreementTerms}}}
          </div>
        </div>

        {{!-- 49 --}}
        <div class="row">
          <div class="columns large-6 small-12">
            {{{createLabel formValues=sectionFour.field.parentName}}}
          </div>
          <div class="columns large-6 small-12">
            {{{createInput formValues=sectionFour.field.parentName inputValue=project.parentName}}}
          </div>
        </div>

        <div class="g-recaptcha row" data-sitekey="6LfO6GsUAAAAAC4m07mV_AzyVMmzjltV0PuNguQq" data-callback="recaptchaCallback">
        </div>

        <label for="hiddenRecaptcha"></label>
        <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">

        <div class="row align-right">
          <div class="columns button-container">
            <input type="submit" class="button button--purple" value="submit"/>
          </div>
        </div>
      </div>
  </div>
  <hr>
</section>
