<section class="page-section" id="form-2">
  <div class="row align-justify">
    <div class="columns">
      <h2>Project Information</h2>
      <span class="section-header">Section 2 of 4</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cupiditate ad dolore, modi magnam tempore nostrum repellendus deserunt cumque officia.</p>
    </div>
  </div>

  <div class="row align-center">
    <div class="columns large-11 small-12">

      <div class="row align-middle">
        {{!-- 13 --}}
        <div class="columns large-2 medium-12 small-12">
          {{{createLabel formValues=sectionTwo.field.projectName}}}
        </div>
        <div class="columns large-5 medium-12 small-12">
          {{{createInput formValues=sectionTwo.field.projectName inputValue=project.projectName}}}
        </div>
        {{!-- 14 --}}
        <div class="columns large-3 medium-6 small-6">
          {{{createLabel formValues=sectionTwo.field.projectVersion}}}
        </div>
        <span>v. </span>
        <div class="columns project-version-label">
          {{{createInput formValues=sectionTwo.field.projectVersion inputValue=project.projectVersion}}}
        </div>
      </div>

      {{!-- 15 --}}
      <div class="row align-middle">
        <div class="columns large-6 medium-6 small-12">
          {{{createLabel formValues=sectionTwo.field.previousVersions}}}
        </div>
        <div class="columns large-6 medium-6 small-12 field-wrapper" data-field-name="previousVersions" data-target="select">
          {{{createPreviousVersionsDropdown formValues=sectionTwo.field.previousVersions projectsList=projectsList selectedProjects=project.previousVersions}}}
        </div>
      </div>

      {{!-- 16 --}}
      <div class="row">
        <div class="columns large-3 small-12">
          {{{createLabel formValues=sectionTwo.field.projectDescription}}}
        </div>
        <div class="columns">
          {{{createTextArea formValues=sectionTwo.field.projectDescription inputValue=project.projectDescription}}}
        </div>
      </div>

      {{!-- 17 --}}
      <div class="row align-middle">
        <div class="columns large-3 small-12">
          {{{createLabel formValues=sectionTwo.field.projectWebsite}}}
        </div>
        <div class="columns">
          {{{createInput formValues=sectionTwo.field.projectWebsite inputValue=project.projectWebsite}}}
        </div>
      </div>

      {{!-- 18 --}}
      <div class="row align-middle">
        <div class="columns large-3 small-12">
          {{{createLabel formValues=sectionTwo.field.primaryType}}}
        </div>
        <div class="columns">
          {{{createDropdownSelect formValues=sectionTwo.field.primaryType options=primaryProjectTypes selection=project.primaryType}}}
        </div>
      </div>

      {{!-- 19 --}}
      <div class="row align-middle">
        <div class="columns additional-project-types">

        {{{sectionTwo.field.additionalType.formOrder}}}. {{{sectionTwo.field.additionalType.title}}}

        {{{createCheckboxes formValues=sectionTwo.field.additionalType projectTypes=additionalProjectTypes checkedTypes=(getCheckedTypes project)}}}
        </div>
      </div>

      {{!-- 20 --}}
      <div class="row align-middle">
        <div class="columns large-3 small-12">
          {{{createLabel formValues=sectionTwo.field.projectKeywords}}}
        </div>
        <div class="columns">
          {{{createInput formValues=sectionTwo.field.projectKeywords inputValue=project.projectKeywords}}}
        </div>
      </div>

      {{!-- 21 --}}
      <div class="row align-middle">
        <div class="columns large-4 small-12">
          {{{createLabel formValues=sectionTwo.field.documentationUrl}}}
        </div>
        <div class="columns">
          {{{createInput formValues=sectionTwo.field.documentationUrl inputValue=project.documentationUrl}}}
        </div>
      </div>

      {{!-- 22 --}}
      <div class="row align-middle">
        <div class="columns small-12">
          {{{sectionTwo.field.availableFileFormat.formOrder}}}. {{{createCheckbox formValues=sectionTwo.field.availableFileFormat checked=project.availableFileFormat}}}
        </div>
      </div>

      {{!-- 23 --}}
      <div class="row align-middle">
        <div class="columns large-3 small-12">
          {{{sectionTwo.field.citations.formOrder}}}. {{{sectionTwo.field.citations.title}}}
        </div>
        <div class="columns large-9 small-12">
          {{{createUrlInputs formValues=sectionTwo.field.citations citationValues=(getCitationValues project) }}}
        </div>
      </div>

    </div>
  </div>
  <hr>
</section>











