<section class="page-section" id="form-4">
  <div class="row align-justify">
    <div class="columns">
      <h2>Certification</h2>
      <span class="section-header">Section 4 of 4</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nostrum similique alias nam ab quas mollitia iusto error eum delectus?</p>
    </div>
  </div>

  <div class="row align-center">
    <div class="columns large-11 small-12">
        {{!-- 45 --}}
        <div class="row">
          <div class="columns certificate-mark">
            {{{createLabel formValues=sectionFour.field.certificationmarkTerms}}}
            {{{createCheckboxRows formValues=sectionFour.field.certificationmarkTerms options=certificationMarkChecklist checkedOptions=project.certificationmarkTerms}}}
          </div>
        </div>

        {{!-- 46 --}}
        <div class="row">
          <div class="columns large-3 small-12 ">
            {{{createLabel formValues=sectionFour.field.explanationCertificationTerms}}}
          </div>
          <div class="columns">
            {{{createTextArea formValues=sectionFour.field.explanationCertificationTerms inputValue=project.explanationCertificationTerms}}}
          </div>
        </div>

        {{!-- 47 --}}
        <div class="row">
          <div class="columns large-3 small-12">
            {{{createLabel formValues=sectionFour.field.relationship}}}
          </div>
          <div class="columns">
            {{{createTextArea formValues=sectionFour.field.relationship inputValue=project.relationship}}}
          </div>
        </div>

        {{!-- 48 --}}
        <div class="row">
          <div class="columns small-1 single-checkbox-field">
            {{{createCheckbox formValues=sectionFour.field.agreementTerms checked=project.agreementTerms}}}
          </div>
          <div class="columns single-checkbox-field">
            {{{createLabel formValues=sectionFour.field.agreementTerms}}}
          </div>
        </div>

        {{!-- 49 --}}
        <div class="row">
          <div class="columns large-6 small-12">
            {{{createLabel formValues=sectionFour.field.parentName}}}
          </div>
          <div class="columns large-6 small-12">
            {{{createInput formValues=sectionFour.field.parentName inputValue=project.parentName}}}
          </div>
        </div>

        <div class="row align-right">
          <div class="columns button-container">
            <input type="submit" class="button button--purple" value="submit"/>
          </div>
        </div>
      </div>
  </div>
  <hr>
</section>
