<section class="page-section" id="form-1">
  <div class="row align-justify">
    <div class="columns">
      <h2>Basic Information</h2>
      <span>Part 1 of 5<span>
    </div>
  </div>

  <div>
    {{!-- 1 --}}
    {{{createLabel sectionOne.field.oshwaUid}}}
    {{{createInput sectionOne.field.oshwaUid}}}

    {{!-- 2 --}}
    {{{createLabel sectionOne.field.responsibleParty}}}
    {{{createInput sectionOne.field.responsibleParty}}}

    {{!-- 3 --}}
    {{{createLabel sectionOne.field.responsiblePartyType}}}
    {{{createDropdownSelect sectionOne.field.responsiblePartyType responsiblePartyTypeOptions}}}

    {{!-- 4 --}}
    {{{createLabel sectionOne.field.bindingParty}}}
    {{{createInput sectionOne.field.bindingParty}}}

    {{!-- 5 --}}
    {{{createLabel sectionOne.field.country}}}
    {{{createDropdownSelect sectionOne.field.country countryOptions}}}

    {{!-- 6 --}}
    {{{createLabel sectionOne.field.streetAddress1}}}
    {{{createInput sectionOne.field.streetAddress1}}}

    7
    {{{createLabel sectionOne.field.streetAddress2}}}
    {{{createInput sectionOne.field.streetAddress2}}}

    {{!-- 8 --}}
    {{{createLabel sectionOne.field.city}}}
    {{{createInput sectionOne.field.city}}}

    {{!-- 9 --}}
    {{{createLabel sectionOne.field.state}}}
    {{{createInput sectionOne.field.state}}}

    {{!-- 10 --}}
    {{{createLabel sectionOne.field.postalCode}}}
    {{{createInput sectionOne.field.postalCode}}}

    {{!-- 11 --}}

    {{{createLabel sectionOne.field.privateContact}}}
    {{{createInput sectionOne.field.privateContact}}}

    {{!-- 12 --}}
    {{{createLabel sectionOne.field.publicContact}}}
    {{{createInput sectionOne.field.publicContact}}}
  </div>
</section>




















