<section class="page-section" id="form-3">
  <div class="row align-justify">
    <div class="columns">
      <h2>Licensing Information</h2>
      <span>Part 3 of 5<span>
    </div>
  </div>

  <div>

  {{!-- 24 --}}
  {{{createLabel sectionThree.field.hardwareLicense}}}
  {{{createDropdownSelect sectionThree.field.hardwareLicense hardwareLicenses}}}

  {{!-- 25 --}}
  {{{createLabel sectionThree.field.softwareLicense}}}
  {{{createDropdownSelect sectionThree.field.softwareLicense softwareLicenses}}}

  {{!-- 26 --}}
  {{{createLabel sectionThree.field.documentationLicense}}}
  {{{createDropdownSelect sectionThree.field.documentationLicense documentationLicenses}}}

  {{!-- 27 --}}
  {{{createLabel sectionThree.field.noCommercialRestriction}}}
  {{{createBooleanDropdown sectionThree.field.noCommercialRestriction}}}

  {{!-- 28 --}}
  {{{createLabel sectionThree.field.explanationNcr}}}
  {{{createTextArea sectionThree.field.explanationNcr}}}

  {{!-- 29 --}}
  {{{createLabel sectionThree.field.noDocumentationRestriction}}}
  {{{createBooleanDropdown sectionThree.field.noDocumentationRestriction}}}

  {{!-- 30 --}}
  {{{createLabel sectionThree.field.explanationNdr}}}
  {{{createTextArea sectionThree.field.explanationNdr}}}

  {{!-- 31 --}}
  {{{createLabel sectionThree.field.openHardwareComponents}}}
  {{{createBooleanDropdown sectionThree.field.openHardwareComponents}}}

  {{!-- 32 --}}
  {{{createLabel sectionThree.field.explanationOhwc}}}
  {{{createTextArea sectionThree.field.explanationOhwc}}}

  {{!-- 33 --}}
  {{{createLabel sectionThree.field.creatorContribution}}}
  {{{createBooleanDropdown sectionThree.field.creatorContribution}}}

  {{!-- 34 --}}
  {{{createLabel sectionThree.field.explanationCcr}}}
  {{{createTextArea sectionThree.field.explanationCcr}}}

  {{!-- 35 --}}
  {{{createLabel sectionThree.field.noUseRestriction}}}
  {{{createBooleanDropdown sectionThree.field.noUseRestriction}}}

  {{!-- 36 --}}
  {{{createLabel sectionThree.field.explanationNur}}}
  {{{createTextArea sectionThree.field.explanationNur}}}

  {{!-- 37 --}}
  {{{createLabel sectionThree.field.redistributedWork}}}
  {{{createBooleanDropdown sectionThree.field.redistributedWork}}}

  {{!-- 38 --}}
  {{{createLabel sectionThree.field.explanationRwr}}}
  {{{createTextArea sectionThree.field.explanationRwr}}}

  {{!-- 39 --}}
  {{{createLabel sectionThree.field.noSpecificProduct}}}
  {{{createBooleanDropdown sectionThree.field.noSpecificProduct}}}

  {{!-- 40 --}}
  {{{createLabel sectionThree.field.explanationNsp}}}
  {{{createTextArea sectionThree.field.explanationNsp}}}

  {{!-- 41 --}}
  {{{createLabel sectionThree.field.noComponentRestriction}}}
  {{{createBooleanDropdown sectionThree.field.noComponentRestriction}}}

  {{!-- 42 --}}
  {{{createLabel sectionThree.field.explanationNor}}}
  {{{createTextArea sectionThree.field.explanationNor}}}

  {{!-- 43 --}}
  {{{createLabel sectionThree.field.technologyNeutral}}}
  {{{createBooleanDropdown sectionThree.field.technologyNeutral}}}

  {{!-- 44 --}}
  {{{createLabel sectionThree.field.explanationTn}}}
  {{{createTextArea sectionThree.field.explanationTn}}}

  </div>
</section>
