<section class="page-section" id="form-1">

  <div class="row align-justify">
    <div class="columns">
      <h2>Basic Information</h2>
      <span class="section-header">Section 1 of 4</span>
      <p>This part of the form asks for basic information about the responsible party for the project to be certified, such as the name of the individual, company, or organization certifying the project and contact information for any future correspondence from OSHWA regarding your certification.</p>
    </div>
  </div>

  <div class="row align-center">
    <div class="columns large-11 small-12">
      {{!-- 2 --}}
      <div class="row align-middle expanded">
        <div class="columns large-4 medium-4 small-12">
          {{{createLabel formValues=sectionOne.field.responsiblePartyType}}}
        </div>
        <div class="columns large-5 medium-5 small-12">
          {{{createDropdownSelect formValues=sectionOne.field.responsiblePartyType options=responsiblePartyTypeOptions selection=project.responsiblePartyType}}}
        </div>
      </div>

      {{!-- 3 --}}
      <div class="row align-middle">
        <div class="columns large-6 medium-6 small-12">
          {{{createLabel formValues=sectionOne.field.responsibleParty}}}
        </div>
        <div class="columns large-6 medium-6 small-12">
          {{{createInput formValues=sectionOne.field.responsibleParty inputValue=project.responsibleParty}}}
        </div>
      </div>

      {{!-- 4 --}}
      <div class="row align-middle">
        <div class="columns large-6 medium-6 small-12">
          {{{createLabel formValues=sectionOne.field.bindingParty}}}
        </div>
        <div class="columns large-6 medium-6 small-12">
          {{{createInput formValues=sectionOne.field.bindingParty inputValue=project.bindingParty}}}
        </div>
      </div>

      {{!-- 5 --}}
      <div class="form-heading">Contact Information</div>
      <div class="row align-middle">
        <div class="columns large-5 medium-6 small-12">
        {{{createLabel formValues=sectionOne.field.country}}}
        {{{createDropdownSelect formValues=sectionOne.field.country options=countryOptions selection=project.country}}}
        </div>
      </div>

      {{!-- 6 --}}
      <div class="row align-middle">
        <div class="columns large-12 medium-12 small-12">
          {{{createLabel formValues=sectionOne.field.streetAddress1}}}
        </div>
        <div class="columns large-12 medium-12 small-12">
          {{{createInput formValues=sectionOne.field.streetAddress1 inputValue=project.streetAddress1 inputValue=project.streetAddress1}}}
        </div>
      </div>

      {{!-- 7 --}}
      <div class="row align-middle">
        <div class="columns large-12 medium-12 small-12">
          {{{createLabel formValues=sectionOne.field.streetAddress2}}}
        </div>
        <div class="columns large-12 medium-12 small-12">
          {{{createInput formValues=sectionOne.field.streetAddress2 inputValue=project.streetAddress2 inputValue=project.streetAddress2}}}
        </div>
      </div>

      <div class="row align-middle address-row">
        {{!-- 8 --}}
        <div class="columns large-5 medium-6 small-12">
          {{{createLabel formValues=sectionOne.field.city}}}
          {{{createInput formValues=sectionOne.field.city inputValue=project.city}}}
        </div>
        {{!-- 9 --}}
        <div class="columns large-4 medium-6 small-12">
          {{{createLabel formValues=sectionOne.field.state}}}
          {{{createInput formValues=sectionOne.field.state inputValue=project.state}}}
        </div>
        {{!-- 10 --}}
        <div class="columns large-3 medium-6 small-12">
          {{{createLabel formValues=sectionOne.field.postalCode}}}
          {{{createInput formValues=sectionOne.field.postalCode inputValue=project.postalCode}}}
        </div>
      </div>

      {{!-- 11 --}}
      <div class="row align-middle">
        <div class="columns large-6 medium-6 small-12">
          {{{createLabel formValues=sectionOne.field.privateContact}}}
        </div>
        <div class="columns large-6 medium-6 small-12">
          {{{createInput formValues=sectionOne.field.privateContact inputValue=project.privateContact}}}
        </div>

      </div>

      {{!-- 12 --}}
      <div class="row align-middle">
        <div class="columns large-6 medium-6 small-12">
          {{{createLabel formValues=sectionOne.field.publicContact}}}
        </div>
        <div class="columns large-6 medium-6 small-12">
          {{{createInput formValues=sectionOne.field.publicContact inputValue=project.publicContact}}}
        </div>
      </div>

    </div>
  </div>
<hr>
</section>



















