<section class="page-section" id="form-2">
  <div class="row align-justify">
    <div class="columns">
      <h2>Project Information</h2>
      <span>Part 2 of 5<span>
    </div>
  </div>

  <div>

  {{!-- 13 --}}
  {{{createLabel sectionTwo.field.projectName}}}
  {{{createInput sectionTwo.field.projectName}}}

  {{!-- 14 --}}
  {{{createLabel sectionTwo.field.projectVersion}}}
  {{{createInput sectionTwo.field.projectVersion}}}

  {{!-- 15 --}}
  {{{createLabel sectionTwo.field.previousVersions}}}
  {{{createInput sectionTwo.field.previousVersions}}}

  {{!-- 16 --}}
  {{{createLabel sectionTwo.field.projectDescription}}}
  {{{createTextArea sectionTwo.field.projectDescription}}}

  {{!-- 17 --}}
  {{{createLabel sectionTwo.field.primaryType}}}
  {{{createDropdownSelect sectionTwo.field.primaryType projectTypes}}}

  {{!-- 18 --}}
  {{{createLabel sectionTwo.field.additionalType}}}
  {{{createCheckboxes sectionTwo.field.additionalType projectTypes}}}

  {{!-- 19 --}}
  {{{createLabel sectionTwo.field.projectKeywords}}}
  {{{createTextArea sectionTwo.field.projectKeywords}}}

  {{!-- 20 --}}
  {{{createLabel sectionTwo.field.documentationUrl}}}
  {{{createInput sectionTwo.field.documentationUrl}}}

  {{!-- 21 --}}
  {{{createLabel sectionTwo.field.availableFileFormat}}}
  {{{createCheckbox sectionTwo.field.availableFileFormat}}}

  {{!-- 22 --}}
  {{{createLabel sectionTwo.field.projectWebsite}}}
  {{{createInput sectionTwo.field.projectWebsite}}}

  {{!-- 23 --}}
  {{{createLabel sectionTwo.field.citations}}}
  {{{createUrlInputs sectionTwo.field.citations}}}

  </div>
</section>




















